{% extends 'base.html.twig' %}

  {% block main %}
    <div id="contenedor_reporteTipoSoporte">
        <h2>Reporte por tipo de soporte</h2>
        
        <table>
            <thead>
                <tr>
                    <th>Tipo de soporte</th>
                    <th>Total soportes</th>
                </tr>
            </thead>
            <tbody>
             {% for dato in reporte%}
             <tr>  
                <td>{{ dato.nombre }}</td>
                <td>{{ dato.total }}</td>
            </tr>
            
            {% endfor %}
            
            </tbody>
        </table>

    
      
    </div>
    

{% endblock %}